<!-- <!DOCTYPE html>
<html>
<head>
  <title>pChat &mdash; Private Chatroom</title>
  <link rel="stylesheet" href="@Url.Content("~/wwwroot/css/site.css")">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body> -->

    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
                <form asp-controller="Home" method="post">
                    <div class="form-group">
                        Username:
                        <input type="email" data-val="true"
                                data-val-email="The Email Address field is not a valid email address."
                                data-val-required="The Email Address field is required."
                                id="username" name="username" value="" /> <br>
                        Password:
                        <input type="password" data-val="true"
                        data-val-required="The Password field is required."
                        id="password" name="password" /><br>
                    </div>
                    <button type="submit" formaction="/Home/Login">Login</button> 
                    <button type="submit" formaction="/Home/Register">Register</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="@Url.Content("~/wwwroot/js/site.js")"></script>
<!-- </body>
</html> -->