@model ChatPageViewModel

@if( !string.IsNullOrEmpty(Model.UserName))
    {
        <h2> Hi, @Model.UserName</h2>       
       
        <div class="col-xs-12 col-md-9 chat__body">
            <div class="row" style="float: left;">

                 <ul class="ChatLog" id='ChatLog'>
                     @foreach (var chatRow in Model.ChatHistory)
                     {
                         if(@chatRow.Text != null)
                         {
                             var messageAuthorClass = AuthorId.Siri.Equals(chatRow.Author) ?
                                 "ChatLog__entry" : "ChatLog__entry ChatLog__entry_mine";
                             <li class="@messageAuthorClass">
                                 <img class="ChatLog__avatar" src="~/images/vovan.png" />
                                 <p class="ChatLog__message">
                                     @chatRow.Text
                                 </p>
                             </li>
                 
                         }
                     }
                 </ul>

                <div class="chat__type__body">
                    <div class="chat__type">
                        <textarea id="msg_box" placeholder="Type your message" style="min-width: 200px;"></textarea>
                        <button class="btn btn-primary" id="sendMessage">Send</button>
                    </div>
                </div>

                <div class="chat__typing">
                    <span id="typerDisplay"></span>
                </div>
            </div>
        </div>

        <div class="loader"></div>
    
    }