@model ChatPageViewModel

@if( !string.IsNullOrEmpty(Model.UserName))
    {
        <h2> Hi, @Model.UserName</h2>       
       
        <div class="col-xs-12 col-md-9 chat__body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group chat__main">
                        <table style="width: 100%" id="chatTable">
                            <tr>
                                <th>Name</th>
                                <th>Message</th>
                            </tr>
                            @foreach (var chatRow in Model.ChatHistory)
                            {
                                if(@chatRow.Text != null)
                                {
                                    var author = AuthorId.Siri.Equals(chatRow.Author) ? chatRow.Author.ToString() : "You";
                                    var authorClass = "author"+ (int)chatRow.Author;
                                    <tr class="@authorClass">
                                        <td>
                                            @author
                                        </td>
                                        <td>@chatRow.Text</td>
                                    </tr>
                                }
                            }

                        </table>
                    </ul>
                </div>

                <div class="chat__type__body">
                    <div class="chat__type">
                        <textarea id="msg_box" placeholder="Type your message" style="min-width: 200px;"></textarea>
                        <button class="btn btn-primary" id="sendMessage">Send</button>
                    </div>
                </div>

                <div class="chat__typing">
                    <span id="typerDisplay"></span>
                </div>
            </div>
        </div>

        <div class="loader"></div>
    
    }