<div>
     <h3>
        Hey, Welcome to the Dialogue Web App. <br>
        You are probably Vova z pid Lvova - check it out.
    </h3>
    <h4>
        Psss, you need to login or register first.
    </h4>
</div>