@model UserRegisterViewModel

    <div class="container">
      <div class="row">
         <h3 style="text-align: center;">Register Form</h3>
        <div class="col-md-5 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
                <form asp-controller="Home" asp-action="Register" method="post">
                  @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    Username:  <input asp-for="UserName" /> <br />
                    <span asp-validation-for="UserName" class="text-danger"></span><br/>

                    Password: <input asp-for="PasswordString" /><br />
                    <span asp-validation-for="PasswordString" class="text-danger"></span><br/>

                    Email:  <input asp-for="Email" /> <br />
                    <span asp-validation-for="Email" class="text-danger"></span><br/>

                    First Name: <input asp-for="FirstName" /><br />
                    <span asp-validation-for="FirstName" class="text-danger"></span><br/>

                    Last Name: <input asp-for="LastName" /><br />
                    <span asp-validation-for="LastName" class="text-danger"></span><br/>

                    <button type="submit" class="btn btn-default">Register</button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>